<!DOCTYPE html>
<html ng-app="mapulator">
  <head>
    <link rel="stylesheet" href="./bower_components/leaflet-dist/leaflet.css" />
    <link rel="stylesheet" href="./bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="./bower_components/leaflet.draw/dist/leaflet.draw.css">

    <script src="./bower_components/angular/angular.min.js"></script>
    <script src="./bower_components/leaflet-dist/leaflet.js"></script>
    <script src="./bower_components/angular-leaflet/dist/angular-leaflet-directive.min.js"></script>
    <script src="./bower_components/leaflet.draw/dist/leaflet.draw.js"></script>
    <script src="./bower_components/leaflet-pip.min.js"></script>

    <script src="http://www.mapquestapi.com/sdk/leaflet/v1.0/mq-map.js?key=Fmjtd%7Cluub2g6bl1%2Cra%3Do5-9ual56"></script>
    <script src="http://www.mapquestapi.com/sdk/leaflet/v1.0/mq-routing.js?key=Fmjtd%7Cluub2g6bl1%2Cra%3Do5-9ual56"></script>
    <script type="text/javascript" src="http://maps.stamen.com/js/tile.stamen.js?v1.2.4"></script>
    <script type="text/javascript" src="./app.js"></script>

    <style>

        .angular-leaflet-map {
            width: 1200px;
            height: 1200px;
        }
    </style>
  </head>
  <body>
  <div class="container">
      <div ng-controller="mapctrl">

          <div class="row">
              <img src="photo.jpg" style="float: right" vertical-align: text-top width="150" height="150">
              <h1>MAPULATOR</i>
              </h1>
              <input class="grid" type="text" placeholder="Recenter on your city" id="city"/> 
              <input class="grid" type="text" max = 2 size = 2 placeholder="ST" id="state"/> 
              <input class="grid" type="text" max = 5 size = 5 placeholder="Zip" id="zip"/> 
              <button ng-click="recenter()" class="btn btn-default">Recenter Map</button>
              <h3>Mapset: {{ tiles.name }}</h3>
         <!--  </div>
          <div class="row"> -->
              <p>
              <br/>
              <button ng-click="changeTiles('toner')" class="btn btn-default">Toner</button>
              <button ng-click="changeTiles('terrain')" class="btn btn-default">Terrain</button>
              <button ng-click="changeTiles('opencyclemap')" class="btn btn-default">OpenCycleMaps</button>
              <button ng-click="changeTiles('openstreetmap')" class="btn btn-default">OpenStreetMaps</button>
              <button ng-click="showStreets()" class="btn btn-default" style="float: right">Show Streets</button>
              </p>
          </div>

          <div class="row" ng-controller="eventcrtl">
            <leaflet center="sf" tiles="tiles" defaults="defaults" controls="controls" geojson="geojson"></leaflet>
          </div>
          <ul class="grid"><em>
          <li><h3>Instructions for use:</h3></li>
          <li>Draw a polygon that represents your client's delivery zone by clicking the "pentagon" and then at least three times on the map to the above.</li>
          <li>Cick the "Show Streets" button above to return all of the streets inside the zone and the range of valid addresses.</li>
          <li>It takes approx 30-40 seconds to run and it will notify you when its complete.</li>
          </em><br/>
          <li><h3>Frequently Asked Questions:</h3></li>
          <li><b>Q</b>: Some streets aren't listed correctly, and some of the addresses aren't right. This is gonna confuse people! What the fuck?</li> 
          <li><b>A</b>:  This was designed to help you make the street guides for your clients' zones, its not intended to replace those. Take the information that Mapulator provides you and turn that into a street guide, making apropos interpretations like changing a street name from its official designation (CA Highway 101) to its colloquial name (Van Ness Ave). I would suggest cutting and pasting the streets into the text editor of your choice.</li><br/>
          <li><b>Q</b>: Can we make this into a tool for the customer / embed this in our site?</li>
          <li><b>A</b>: No. That's not the purpose of the Mapulator. <a href="http://www.twinjet.co">Twin Jet</a> will have a similar functionality built in. For the meantime you could print out Mapulator and rubber-cement it all together zine style (remember zines...?)</li><br/>
          <li><b>Q</b>: Once a polygon has been made, can we allow for fine tuning like in Google maps? Adding points and dragging them around to really dial in the zone?</li>
          <li><b>A</b>: <strike>This is already in Google Maps.</strike> Its on the list to enable editing of the polygon, but its a couple days away. This is fully in Open Street Maps now.</li><br/>
          <li><b>Q</b>: Will there be the ability to make multiple zones, or the possibility to save and refresh these zone maps?</li>
          <li><b>A</b>: Yes in <a href="http://www.twinjet.co">TwinJet.co</a></li><br/>
          </ul>

      </div>
  </div>

  </body>
</html>