<!DOCTYPE html>
<html ng-app="mapulator">
  <head>
    <link rel="stylesheet" href="./bower_components/leaflet-dist/leaflet.css" />
    <link rel="stylesheet" href="./bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="./bower_components/leaflet.draw/dist/leaflet.draw.css">

    <script src="./bower_components/angular/angular.min.js"></script>
    <script src="./bower_components/leaflet-dist/leaflet.js"></script>
    <script src="./bower_components/angular-leaflet/dist/angular-leaflet-directive.min.js"></script>
    <script src="./bower_components/leaflet.draw/dist/leaflet.draw.js"></script>

    <script src="http://www.mapquestapi.com/sdk/leaflet/v1.0/mq-map.js?key=Fmjtd%7Cluub2g6bl1%2Cra%3Do5-9ual56"></script>
    <script src="http://www.mapquestapi.com/sdk/leaflet/v1.0/mq-routing.js?key=Fmjtd%7Cluub2g6bl1%2Cra%3Do5-9ual56"></script>
    <script type="text/javascript" src="http://maps.stamen.com/js/tile.stamen.js?v1.2.4"></script>
    <script type="text/javascript" src="./app.js"></script>

    <style>
        .angular-leaflet-map {
            width: 1200px;
            height: 1200px;
        }
    </style>
  </head>
  <body>
  <div class="container">
      <div ng-controller="mapctrl">

          <div class="row">
              <h1>MAPULATOR</h1>
          </div>


          <div class="row">
              <h3>Mapset: {{ tiles.name }}</h3>
          </div>
          <div class="row">
              <p>
              <br/>
              <button ng-click="changeTiles('toner')" class="btn btn-default">Toner</button>
              <button ng-click="changeTiles('terrain')" class="btn btn-default">Terrain</button>
              <button ng-click="changeTiles('opencyclemap')" class="btn btn-default">OpenCycleMaps</button>
              <button ng-click="changeTiles('openstreetmap')" class="btn btn-default">OpenStreetMaps</button>
              <button ng-click="showStreets()" class="btn btn-default" style="float: right">Show Streets</button>
              </p>
          </div>

          <div class="row" ng-controller="eventcrtl">
            <leaflet center="sf" tiles="tiles" defaults="defaults" controls="controls" geojson="geojson"></leaflet>
          </div>
      </div>
  </div>

  </body>
</html>